# Java
backend/target/
*.class
*.jar
*.war

# Node
frontend/node_modules/
frontend/dist/

# Variáveis de ambiente
.env
.env.local
.env.production

# VS Code
.vscode/

# IntelliJ IDEA
.idea/
*.iml

# Sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log

# Arquivos temporários
*.tmp
*.temp